<section class="introduction-wrapper">
    <article>
        <h1 class="introduction-title">
            Introduction
        </h1>
        <p class="introduction-text">
            Hi, my name is Stefan Englmeier. I was 
            born and raised in Königsbrunn near Augsburg, 
            Germany. I have not always had much joy studying 
            for school. But when I started my studies as an 
            economic computer scientist I fell in love with 
            writing code. That is why I made it my duty 
            pursuing a career as a software developer. 
            In the following I want to share my journey 
            with you. Have fun, thanks.
        </p>
    </article>
</section>