.socials-wrapper {
    width: 100vw;
    padding: .4rem 10vw;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: #fdfdfd;
    border-top: 1px solid #f1f1f1;
}

.social-icon {
    color: var(--third-text-color);
    font-size: 1.75rem;
    transition: color .2s ease;
}

.social-icon:hover{
    color: black;
}